/*--------------------------------------------------------------------
		Shortcodes
--------------------------------------------------------------------*/
.clear:before, 
.clear:after { 
	content:"";
	display:table; 
}

.clear:after { 
	clear:both; 
}

.clear { 
	zoom:1; 
}

.vertical-center-outer {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-center-inner {
    display: table-cell;
    vertical-align: middle;
}


/*--------------------------------------------------------------------
		Screen for all devices
--------------------------------------------------------------------*/
.screen {
  background-color: #FFF;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*--------------------------------------------------------------------
		Mobile Device
--------------------------------------------------------------------*/
.mobile-device {
  width: 360px;
  height: 740px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-width: 4px;
  border-style: solid;
  -webkit-border-radius: 34px;
  -moz-border-radius: 34px;
  border-radius: 34px;
}

.centered {
  text-align: center;
}

.centered .mobile-device {
  display:inline-block;	
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mobile-device .speaker {
  width: 15%;
  height: 5px;
  display: block;
  margin: 40px auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.mobile-device .screen {
  width: 320px;
  height: 560px;
  margin: 0 auto;
  z-index: 1;
}

.mobile-device .touch {
  width: 45px;
  height: 45px;
  display: block;
  margin: 15px auto;
  border-width: 4px;
  border-style: solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.mobile-device.black {
  background-color: #000;
  border-color: #212121;
}

.mobile-device.black .screen {
  background-color: #fff;
}

.mobile-device.black .speaker {
  background-color: #262626;
}

.mobile-device.black .touch {
  border-color: #262626;
}

.mobile-device.white {
  background-color: #fff;
  border-color: #e8e8e8;
} 

.mobile-device.white .screen {
  background-color: #000;
}
.mobile-device.white .speaker {
  background-color: #e8e8e8;
}
.mobile-device.white .touch {
  border-color: #e8e8e8;
}

/*---------------------------------------------------------------------------
					Hover for devices - Global
----------------------------------------------------------------------------*/

.screen .info-hover {
  position: absolute;
  right: 10px;
  top: 27px;
  text-align: center;
  font-size: 0.6em;
  line-height: 0.8em;
  
  z-index: 1;
  opacity: 0;
  width: 30px;
  height: 30px;
  
  background-color: rgba(251, 251, 251, 0.9);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.screen .info-hover i {
  font-family: "Inconsolata";
  font-style: normal;
  position: relative;
  top: 8px;
}

.screen .hover-screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  min-height: 100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  opacity: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
}
.screen .hover-screen .title {
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Inconsolata";
  color: #fff;
}

.screen .hover-screen .text {
  color: #fff;
  font-size: 0.9em;
  line-height: 1.4em;
  font-family: "Inconsolata";
  width: 90%;
  margin: 0 auto;
}

.screen:active .hover-screen,
.screen:focus .hover-screen,
.screen:hover .hover-screen {
  opacity: 1;
  z-index: 1;
}


/*---------------------------------------------------------------------------
					Tablet Device CSS
----------------------------------------------------------------------------*/
.tablet-device {
  width: 990px;
  height: 660px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  border-radius: 44px;
}
.tablet-device .speaker {
  width: 12px;
  height: 12px;
  display: block;
  position: absolute;
  top: 50%;
  left: 31px;
  margin-top: -6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.tablet-device .screen {
  width: 820px;
  height: 600px;
  margin-top: 30px;
  margin-left: 75px;
}
.tablet-device .touch {
  width: 45px;
  height: 45px;
  display: block;
  border-width: 4px;
  border-style: solid;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.tablet-device.black {
  background-color: #000;
}
.tablet-device.black .screen {
  background-color: #fff;
}
.tablet-device.black .speaker {
  background-color: #262626;
}
.tablet-device.black .touch {
  border-color: #262626;
}
.tablet-device.white {
  background-color: #fff;

}
.tablet-device.white .screen {
  background-color: #000;
}
.tablet-device.white .speaker {
  background-color: #e8e8e8;
}
.tablet-device.white .touch {
  border-color: #e8e8e8;
}

  
/*---------------------------------------------------------------------------
					Desktop Device
----------------------------------------------------------------------------*/
.wrap-desktop {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.wrap-desktop .stand-top {
  position: relative;
  display: block;
  width: 60px;
  height: 100px;
  margin: 0 auto;
  background-color: #000;
}

.wrap-desktop .stand-bottom {
  position: relative;
  display: block;
  width: 300px;
  height: 9px;
  margin: 0 auto;
  background-color: #000;
  -webkit-border-radius: 9px 9px 3px 3px;
  -moz-border-radius: 9px 9px 3px 3px;
  border-radius: 9px 9px 3px 3px;
}

.wrap-desktop .desktop-screen {
  width: 1080px;
  height: 680px;
  position: relative;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

.wrap-desktop .desktop-screen .screen {
  width: 1020px;
  height: 620px;
  margin: 30px auto 0;
  
  -webkit-box-shadow: inset 0 1px 2px #000;
  box-shadow: inset 0 1px 2px #000;
}

.wrap-desktop .desktop-screen .controls {
  position: absolute;
  right: 36px;
  bottom: 14px;
}

.wrap-desktop .desktop-screen .controls .power {
  background-color: #262626;
  width: 15px;
  height: 3px;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.wrap-desktop .desktop-screen {
  background-color: #000;
}

.wrap-desktop .desktop-screen .screen {
  background-color: #fff;
}

.wrap-desktop .desktop-screen .controls .power {
  -webkit-animation: powerbtn 3s infinite;
  animation: powerbtn 3s infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@-webkit-keyframes powerbtn {
  0% {
    background-color: #262626;
  }
  50% {
    background-color: #0013ff;
  }
  100% {
    background-color: #262626;
  }
}

@keyframes powerbtn {
  0% {
    background-color: #262626;
  }
  50% {
    background-color: #0013ff;
  }
  100% {
    background-color: #262626;
  }
}




/*---------------------------------------------------------------------------
					Browser Tab
----------------------------------------------------------------------------*/
.browser-tab {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.browser-tab .screen img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}
.browser-tab .tab {
  height: 34px;
  position: relative;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
}
.browser-tab .tab .control {
  float: left;
  display: block;
  margin: 12px 0 0 9px;
  width: 11px;
  height: 11px;
  background-color: #a4a4a4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.browser-tab .tab .control.red {
  background-color: #ff5f57;
}
.browser-tab .tab .control.orange {
  background-color: #ffbd2e;
}
.browser-tab .tab .control.green {
  background-color: #28ca41;
}
.browser-tab.white .tab {
  background-color: #fff;
}
.browser-tab.black .tab {
  background-color: #000;
}